@import './base/_mixins';
@import './base/_variables';
@import './blocks/_promo';
@import './blocks/_header';
@import './blocks/buttons';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}