@import './base/_mixins';
@import './base/_variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import './blocks/_promo';
@import './blocks/header';
@import './blocks/buttons';
@import './blocks/advantages';
@import './blocks/title';
@import './blocks/consultaition';
@import './blocks/forms';
@import "./blocks/carousel";
@import "./blocks/catalog";