.consultaition {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../img/bg/bg-2.jpg) center center/cover no-repeat;
    &__descr {
        padding-top: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
    }
    .error {
        border: 2px solid $main-color;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
        color: #ffffff;
        text-shadow: 1px 1px 0 red;
    }
}

@media (max-width: 1000px) {
    .consultaition {
        &__descr {
            text-align: center;
        }
    }
}