.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 460px;
        min-height: 270px;
        background-color: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__address {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 36px;
        &:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        gap: 27px;
        padding-top: 36px;
        min-width: 212px;
        min-height: 52px;
    }
    &__social-item {
        width: 53px;
        height: 53px;
        text-decoration: none;
        border: 2px solid white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s all;
        &:hover {
            scale: 1.1;
        }
        span {
            scale: 1.45;
        }
    }
}

@media (max-width: 460px) {
    .footer {
        &__info {
            min-width: 100%;
            min-height: 225px;
            padding: 0;
        }
    }
}